
/* Css Variables */
:root{
    --base: #18b940;
    --spacing: 10px ;
    --blur: 10px ;
    
}





body {
    text-align: center;
}

body{
    background-color: rgb(124, 206, 233);
    color: #fff;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 80;
    font-size: 50px;
}


.controls {
    margin-bottom: 50px;
}

input {
    width: 100px;
}

img{
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}

.hl{
    color: var(--base);
}

@media (max-width:700px){
    img{
        width: 300px;
    }
    body{
        font-size: 30px;
    }
